
<div class="container">
    <h1>User Edit Form</h1>
    <form (ngSubmit)= "onSubmit(userEditForm)" #userEditForm ="ngForm">
    
      <div class="form-group">
        <label for="name">First Name</label>
        <input type="hidden" #id="ngModel" id="id" required [(ngModel)] ="user.id" name="id" />
        <input type="text" #firstName="ngModel" class="form-control" id="firstName" required
        [ngModel] = "user.firstName" name="firstName" minlength="5"
        />
        <span  *ngIf="firstName.errors?.required && userEditForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'">
          First Name is required
        </span>
        <span *ngIf="firstName.errors?.minlength && userEditForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
            Name must be at least 5 characters long.
        </span>
      </div>
      <div class="form-group">
          <label for="name">Last Name</label>
          <input type="text" #lastName="ngModel" class="form-control" id="lastName" required 
          [ngModel] ="user.lastName" name="lastName"
          />
          <span *ngIf="lastName.errors?.required && userEditForm.submitted && !isValidFormSubmitted" [ngClass]= "'error'">
            Last Name is Required
          </span>
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" #email="ngModel" class="form-control" id="firstName" required
            [ngModel] = "user.email" name="email"
            />
            <span *ngIf="email.errors?.required && userEditForm.submitted && !isValidFormSubmitted" [ngClass]= "'error'">
                Email is Required
              </span>
          </div>
          <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>