<app-header></app-header>
<app-menu></app-menu>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Fixed Layout
                <small>Blank example to the fixed layout</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            </ol>
        </section>
        <div class="content">
                <router-outlet></router-outlet>
        </div>
    </div>
   
<app-footer></app-footer>