<div class="content">
<div class="row">
  <div class="box">
    <div class="box-header with-border">
     <button class="btn btn-success btn-xs pull-right" (click) = "hideListEditDetailsPage();" >Add New Driver</button>
    </div>
    <!-- /.box-header -->
    <div class="box-body"> 
      <app-driver-list [hideShowListPage] = "hideShowListPage" [drivers]="drivers" [total]="total" [message]="message"></app-driver-list>
      <app-driver-add [hideShowAddPage] = "hideShowEditPage" ></app-driver-add>
      <app-driver-edit [hideShowEditPage] = "hideShowEditPage" ></app-driver-edit>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </div>
  </div>
  <!-- /.box -->
</div>
</div>